@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ошибка";
}

<h1 class="text-danger">Ошибка</h1>
<h2 class="text-danger">Во время Вашего запроса произошла ошибка. Наша команда уже занимается её устранением.</h2>

