@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Аккаунт заблокирован";
}

<hgroup>
    <h1 class="text-danger">Данный аккаунт был заблокирован.</h1>
    <h2 class="text-danger">Пожалуйста, попробуйте позже.</h2>
</hgroup>
