@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>

<address>
    Минск, Гикало 9
</address>

<address>
    <strong>Пишите нам:</strong>   <a href="mailto:Support@example.com">homechaleybank@gmail.com</a>
</address>