@{
    ViewBag.Title = "Ваш e-mail подтвержден.";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Спасибо, что воспользовались нашим сервисом. Вы стали ближе к возможности получить кредит в нашем банке!
    </p>
</div>
