@{
    ViewBag.Title = "Восстановление пароля";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Мы отправили вам ссылку для влсстановления пароля. Проверьте ваш email.
    </p>
</div>
